<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Products</h1>

<% @products.each do |product| %>
  <div class="entry">
    <div class="product-img">
    <%= link_to image_submit_tag(product.image), line_items_path(:product_id => product), :method => :post, :remote => true %>
    </div>
    <h3><%= product.name %></h3>
    <div class="price_line">
      <span class="price"><%= product.price %></span>
      <%= button_to 'Add To Cart', line_items_path(:product_id => product), :remote => true %>
    </div>
  </div>
<% end %>
