<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Products</h1>

<% @products.each do |product| %>
  <div class="entry row">
    <div class="col-sm-12">
      <div class="thumbnail">
        <%= link_to image_submit_tag(product.image), line_items_path(:product_id => product), :method => :post, :remote => true %>
        <div class="caption">
          <h4><%= product.name %></h4>
              <%=product.description %>
          <div class="price_line">
            <span class="price"><%= number_to_currency(product.price) %></span>
            <%= button_to 'Add to Cart', line_items_path(:product_id => product), :class => 'btn' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>